version: 2.1

commands:
  setup_env:
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-gems-{{ checksum "Gemfile.lock" }}
      - run:
          name: Bundle Install
          command: bundle install
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

# Jobs
jobs:
  run_unit_tests:
    macos:
      xcode: "26.2" 
    environment:
      # SPMパッケージ
      - RESOLVE_PACKAGE_WITH_FIXED_REVISIONS: "1"
      # TCA マクロ検証スキップ設計
      - SWIFT_DETERMINISTIC_MACRO_FINGERPRINTS: "1"
    steps:
      - setup_env
      - run:
          name: Run Unit Tests via Fastlane
          command: bundle exec fastlane test
      - store_test_results:
          path: test_output/report.xml

# Workflows
workflows:
  version: 2
  unit_test_flow:
    jobs:
      - run_unit_tests:
          filters:
            branches:
              only: 
                - main
                - develop
                - /feature\/.*/